# Models and Large Files
checkpoints/
data/
*.h5
*.pth
*.pt
*.pkl

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env

# OS/System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Custom Exclusions
HUONG_DAN_CAI_DAT_CUDA.md
HUONG_DAN_CHAY_SERVER.md
Dockerfile
